{% extends "base.html" %}
{% load static %}
{% block title %} 日志分析 {% endblock %}
{% block link %}
    <link href="{% static 'js/echart27/asset/css/echartsHome.css' %}" rel="stylesheet">
{% endblock %}
{% block content%}
    <div class="row" >
        <div class="col-lg-12" >
            <div class="ibox float-e-margins" >
                <div class="ibox-title">
                    <h5>日志分析-上传 </h5>
                    <div class="ibox-tools">
                    </div>
                </div>
                <div class="ibox-content">
                    <form method="post" id="file_upload_form" enctype="multipart/form-data"  action="{% url 'webanalysis:upload' %}" class="form-horizontal">
                        {% csrf_token %}
                        <div class="row">
                            <div class="form-group col-sm-11">
                                <label class="col-sm-4 control-label">上传文件</label>
                                <div class="col-sm-6">
                                    <input type="file" placeholder="请上传文件" name="log_file" value="" required class="form-control">
                                </div>
                                <div class="col-sm-2">
                                    <button type="submit" class="btn btn-primary">上传</button>
                                    <button type="button" class="btn btn-warning" id="sync_ip_btn">同步IP</button>
                                </div>
                            </div>

                        </div>

                    </form>
                </div>
            </div>
            <div class="ibox float-e-margins" >
                <div class="ibox-title">
                    <h5>日志分析-图表 <small id="file_name"></small> </h5>
                    <div class="ibox-tools">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                            <i class="fa fa-search"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user" id="memuselect">
                            {%  for item in files  %}
                                <li data-id="{{ item.id }}"><a href="javascript:void(0)"  >{{ item.name }}</a></li>
                            {% endfor %}
                        </ul>

                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>返回代码</h5>
                                    <div class="ibox-tools">

                                    </div>
                                </div>
                                <div class="ibox-content">
                                        <div class="flot-chart main" id="chart1"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>每日访问量</h5>
                                    <div class="ibox-tools">

                                    </div>
                                </div>
                                <div class="ibox-content">
                                        <div class="flot-chart main" id="chart2"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>地图</h5>
                                    <div class="ibox-tools">

                                    </div>
                                </div>
                                <div class="ibox-content">
                                        <div class="flot-chart"  id="main" style="height: 500px"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
{% block dialog %}

{% endblock %}
{% block script %}
        <!-- echart -->
    <script src="{% static 'js/echarts-2.2.7/build/dist/echarts-all.js' %}"></script>
    <script src="{% static 'js/echarts-2.2.7/doc/example/www/js/echarts.js' %}"></script>
    <script src="{% static 'js/echarts-2.2.7/doc/example/www/js/chart/map.js' %}"></script>
    <script src="{% static 'js/echart27/extension/BMap/src/main.js' %}"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM"></script>
    <!--
        <script src="{% static 'js/echarts-2.2.7/extension/BMap/doc/example.js' %}"></script>
    <script src="{% static 'js/echarts-2.2.7/build/dist/echarts-all.js' %}"></script>
    <script src="{% static 'js/echart27/extension/BMap/src/main.js' %}"></script>
    <script src="{% static 'js/echarts-2.2.7/extension/BMap/doc/BMap.js' %}"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM"></script>
     -->

{% endblock %}
{% block js %}


    //var chart3 = echarts.init(document.getElementById('chart3'));

    var option1 = {
            title : {
                text: '访问状态码',
                subtext: '',
                x:'center'
            },
            tooltip : {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                orient : 'vertical',
                x : 'left',
                data:['404','500','200','301']
            },
            toolbox: {
                show : true,
                feature : {

                }
            },
            calculable : true,
            series : [
                {
                    name:'访问状态',
                    type:'pie',
                    radius : '55%',
                    center: ['50%', '60%'],
                    data:[
                        {value:335, name:'404'},
                        {value:310, name:'500'},
                        {value:234, name:'200'},
                        {value:135, name:'301'}
                    ]
                }
            ]
        };
    var option2 = {
            title : {
                text: '每日访问量',
                subtext: ''
            },
            tooltip : {
                trigger: 'axis'
            },
            legend: {
                data:['访问量']
            },
            toolbox: {
                show : true,
                feature : {

                }
            },
            calculable : true,
            xAxis : [
                {
                    type : 'category',
                    data : ['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月']
                }
            ],
            yAxis : [
                {
                    type : 'value'
                }
            ],
            series : [
                {
                    name:'访问量',
                    type:'bar',
                    data:[2.0, 4.9, 7.0, 23.2, 25.6, 76.7, 135.6, 162.2, 32.6, 20.0, 6.4, 3.3],

                }
            ]
        };
    require.config({
        paths: {
            echarts: "{% static 'js/echarts-2.2.7/doc/example/www/js/echarts.js' %}"
        },
        packages: [
            {
                name: 'BMap',
                location: "{% static 'js/echarts-2.2.7/extension/BMap/src' %}",
                main: 'main'
            }
        ]
    });
    option = {
            color: ['gold','aqua','lime'],
            title : {
                text: '访问来源',
                subtext:'',
                x:'center',
                textStyle : {
                    color: '#fff'
                }
            },
            tooltip : {
                trigger: 'item',
                formatter: function (v) {
                    return v[1].replace(':', ' > ');
                }
            },
            legend: {
                orient: 'vertical',
                x:'left',
                data:['北京'],
                selectedMode: 'single',
                selected:{
                },
                textStyle : {
                    color: '#fff'
                }
            },
            toolbox: {

            },
            dataRange: {
                min : 0,
                max : 10000,
                range: {
                    start: 10,
                    end: 9999
                },
                x: 'right',
                calculable : true,
                color: ['#ff3333', 'orange', 'yellow','lime','aqua'],
                textStyle:{
                    color:'#fff'
                }
            },
            series : [
                {
                    name:'北京',
                    type:'map',
                    mapType: 'none',
                    data:[],
                    geoCoord: {
                        '北京': [116.4551,40.2539],
                        '上海': [121.4648,31.2891],
                        '广州': [113.5107,23.2196],
                        '大连': [122.2229,39.4409],
                        '南宁': [108.479,23.1152],
                        '南昌': [116.0046,28.6633],
                        '拉萨': [91.1865,30.1465],
                        '长春': [125.8154,44.2584],
                        '包头': [110.3467,41.4899],
                        '重庆': [107.7539,30.1904],
                        '常州': [119.4543,31.5582]
                    },

                    markLine : {
                        smooth:true,
                        effect : {
                            show: true,
                            scaleSize: 1,
                            period: 30,
                            color: '#fff',
                            shadowBlur: 10
                        },
                        itemStyle : {
                            normal: {
                                borderWidth:1,
                                lineStyle: {
                                    type: 'solid',
                                    shadowBlur: 10
                                },
                            label: {
                                    show: false
                                }
                            }
                        },
                        data : [
                            [{name:'上海'}, {name:'北京',value:95}],
                            [{name:'广州'}, {name:'北京',value:90}],
                            [{name:'大连'}, {name:'北京',value:80}],
                            [{name:'南宁'}, {name:'北京',value:70}],
                            [{name:'南昌'}, {name:'北京',value:60}],
                            [{name:'拉萨'}, {name:'北京',value:50}],
                            [{name:'长春'}, {name:'北京',value:40}],
                            [{name:'包头'}, {name:'北京',value:30}],
                            [{name:'重庆'}, {name:'北京',value:20}],
                            [{name:'常州'}, {name:'北京',value:10}],
                            [{name:'北京'}, {name:'北京',value:10}]
                        ]
                    },
                    markPoint : {
                        symbol:'emptyCircle',
                        symbolSize : function (v){
                            return 10 + v/500
                        },
                        effect : {
                            show: true,
                            shadowBlur : 0
                        },
                        itemStyle:{
                            normal:{
                                label:{show:true}
                            }
                        },
                        data : [
                            {name:'上海',value:95},
                            {name:'广州',value:90},
                            {name:'大连',value:80},
                            {name:'南宁',value:70},
                            {name:'南昌',value:60},
                            {name:'拉萨',value:50},
                            {name:'长春',value:40},
                            {name:'包头',value:30},
                            {name:'重庆',value:20},
                            {name:'常州',value:10},
                            {name:'北京',value:10}
                        ]
                    }

                }
            ]
        };

    mapstyle = {
            styleJson: [
                  {
                       "featureType": "water",
                       "elementType": "all",
                       "stylers": {
                            "color": "#044161"
                       }
                  },
                  {
                       "featureType": "land",
                       "elementType": "all",
                       "stylers": {
                            "color": "#004981"
                       }
                  },
                  {
                       "featureType": "boundary",
                       "elementType": "geometry",
                       "stylers": {
                            "color": "#064f85"
                       }
                  },
                  {
                       "featureType": "railway",
                       "elementType": "all",
                       "stylers": {
                            "visibility": "off"
                       }
                  },
                  {
                       "featureType": "highway",
                       "elementType": "geometry",
                       "stylers": {
                            "color": "#004981"
                       }
                  },
                  {
                       "featureType": "highway",
                       "elementType": "geometry.fill",
                       "stylers": {
                            "color": "#005b96",
                            "lightness": 1
                       }
                  },
                  {
                       "featureType": "highway",
                       "elementType": "labels",
                       "stylers": {
                            "visibility": "off"
                       }
                  },
                  {
                       "featureType": "arterial",
                       "elementType": "geometry",
                       "stylers": {
                            "color": "#004981"
                       }
                  },
                  {
                       "featureType": "arterial",
                       "elementType": "geometry.fill",
                       "stylers": {
                            "color": "#00508b"
                       }
                  },
                  {
                       "featureType": "poi",
                       "elementType": "all",
                       "stylers": {
                            "visibility": "off"
                       }
                  },
                  {
                       "featureType": "green",
                       "elementType": "all",
                       "stylers": {
                            "color": "#056197",
                            "visibility": "off"
                       }
                  },
                  {
                       "featureType": "subway",
                       "elementType": "all",
                       "stylers": {
                            "visibility": "off"
                       }
                  },
                  {
                       "featureType": "manmade",
                       "elementType": "all",
                       "stylers": {
                            "visibility": "off"
                       }
                  },
                  {
                       "featureType": "local",
                       "elementType": "all",
                       "stylers": {
                            "visibility": "off"
                       }
                  },
                  {
                       "featureType": "arterial",
                       "elementType": "labels",
                       "stylers": {
                            "visibility": "off"
                       }
                  },
                  {
                       "featureType": "boundary",
                       "elementType": "geometry.fill",
                       "stylers": {
                            "color": "#029fd4"
                       }
                  },
                  {
                       "featureType": "building",
                       "elementType": "all",
                       "stylers": {
                            "color": "#1a5787"
                       }
                  },
                  {
                       "featureType": "label",
                       "elementType": "all",
                       "stylers": {
                            "visibility": "off"
                       }
                  }
            ]
        };

    function load_map(id){
        require(
        [
            'echarts',
            'BMap',
            'echarts/chart/map'
        ],
        function (echarts, BMapExtension) {
            // 初始化地图
            var BMapExt = new BMapExtension($('#main')[0], BMap, echarts,{
                enableMapClick: false
            });
            var map = BMapExt.getMap();
            var container = BMapExt.getEchartsContainer();

            var startPoint = {
                x: 104.114129,
                y: 37.550339
            };

            var point = new BMap.Point(startPoint.x, startPoint.y);
            map.centerAndZoom(point, 5);
            map.enableScrollWheelZoom(true);
            // 地图自定义样式
            map.setMapStyle(mapstyle);


            $.get('{% url "webanalysis:map_data" %}',{id:id},function(result){
                //console.log(result);
                option['series'][0]['geoCoord'] = result['result']['x'];
                option['series'][0]['markLine']['data'] = result['result']['y'];
                option['series'][0]['markPoint']['data'] = result['result']['z'];

                console.log(option['series'][0]['geoCoord'] );
                //console.log(result['result']['x'] );
                console.log(option['series'][0]['markLine']['data'] );
                //console.log(result['result']['y'] );
                console.log(option['series'][0]['markPoint']['data'] );
                //console.log(result['result']['z'] );
                var myChart = BMapExt.initECharts(container);
                window.onresize = myChart.onresize;
                BMapExt.setOption(option);
            },'json')


        });
    }



    function load_pie(id){
        $.get('{% url "webanalysis:pie_data" %}',{id:id},function(result){
            //console.log(result);
            option1['legend']['data'] = result['result']['legend'];
            option1['series'][0]['data'] = result['result']['series'];
            var chart1 = echarts.init(document.getElementById('chart1'));
            chart1.setOption(option1);
        },'json')
    }

    function load_bar(id){
        $.get('{% url "webanalysis:bar_data" %}',{id:id},function(result){
            //console.log(result);
            option2['xAxis'][0]['data'] = result['result']['x'];
            option2['series'][0]['data'] = result['result']['y'];
            var chart2 = echarts.init(document.getElementById('chart2'));
            chart2.setOption(option2);
        },'json')
    }

    function loadData(){
        id = $(this).data('id');
        $('#file_name').text('('+$(this).find('a').html()+')');
        //console.log($(this).find('a').html());
        load_pie(id);
        load_bar(id);
        load_map(id)
    }

    function syncIps(){
        $.get('{% url "webanalysis:sync_ips" %}',null,function(result){
            alert('同步成功');

        },'json')
    }


    //console.log($('#memuselect').find('li')[0]);
    $($('#memuselect').find('li')).on('click',loadData);
    $('#memuselect').find('li')[0].click();
    $('#sync_ip_btn').on('click',syncIps);


    // 初始化地图
    /*
    var BMapExt = new BMapExtension(document.getElementById('chart3'), BMap, require('echarts'), require('zrender'));
    var map = BMapExt.getMap();
    var container = BMapExt.getEchartsContainer();
    var point = new BMap.Point(startPoint.x, startPoint.y);
    map.centerAndZoom(point, 5);
    map.enableScrollWheelZoom(true);

    if (myChart && myChart.dispose) {
        myChart.dispose();
    }
    myChart = BMapExt.initECharts(container, curTheme);
    window.onresize = myChart.resize;
    BMapExt.setOption(option3, true)
    */








{% endblock %}