{% extends "base.html" %}
{% load static %}
{% block title %} 资产管理 {% endblock %}
{% block content%}
    <div class="row" >
        <div class="col-lg-12" >
            <div class="ibox float-e-margins" >
                <div class="ibox-title">
                    <h5>资产管理 </h5>
                    <div class="ibox-tools">
                    </div>
                </div>
                <div class="ibox-content">
                    <table id="table_asset" class="table table-striped">
                        <thead>
                        <tr>
                            <th>名称(IP)</th>
                            <th>操作系统 </th>
                            <th>架构 </th>
                            <th>内存 </th>
                            <th>CPU </th>
                            <th>MAC </th>
                            <th>创建时间 </th>
                            <th>最后时间 </th>
                            <th>操作 </th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
{% block dialog %}
<div class="modal fade" id="monitor_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title" id="myModalLabel">资源监控</h3>
          </div>
          <div class="modal-body">
              <div id="main" style="width: 550px;height:350px;"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
{% block js %}


var table = $('#table_asset').DataTable({
    "language": common_lang_zh ,
    ajax:{
        url:'{% url "asset:list_ajax" %}',
        dataSrc:'result',
    },
    columns:[
        {"data":function(row){
            return row.name + '('+row.ip+')';
        }},
        {"data":"os"},
        {"data":"arch"},
        {"data":"mem"},
        {"data":"cpu"},
        {"data":"mac"},
        {"data":"created_time"},
        {"data":"last_time"},
        {"data":function(row){
            return '<a class="btn btn-success btn-xs btn-edit-asset" href="javascript:void(0)" data-id="' + row['id'] + '">编辑</a>' +
                ' <a class="btn btn-danger btn-xs btn-delete-asset" data-id="' + row['id'] + '" href="javascript:void(0)">删除</a>' +
                ' <a class="btn btn-warning btn-xs btn-monitor-asset" data-id="' + row['id'] + '" href="javascript:void(0)">监控</a>';
        }}
    ]});

    $('#table_asset').on('click','.btn-monitor-asset',function(){
        $('#monitor_modal').modal('show');
    })

    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));

    // 指定图表的配置项和数据
    var option = {
        title: {
            text: 'ECharts 入门示例'
        },
        tooltip: {},
        legend: {
            data:['销量']
        },
        xAxis: {
            data: ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
        },
        yAxis: {},
        series: [{
            name: '销量',
            type: 'bar',
            data: [5, 20, 36, 10, 10, 20]
        }]
    };

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);



{% endblock %}